<!DOCTYPE html>
<title>MemoryPage</title>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<head>MemoryPage</head>
<link rel="stylesheet" href="Starter.css" type="text/css">
