<%- include("Header") -%>
<body>
    <form method="post" action="/" class="Open-Form" enctype="multipart/form-data"> 
    <input type="text" name="memText" placeholder="Please enter the date of the memoryt"></input>
    <input type="file" name="imageOption" id="imageOption" placeholder="Please browse and  find the image"></input>
    <input type="text" name="description" placeholder="Please enter the thoughts of the memory"></input>
    <button type="submit">Please click here to submit</button>
</form>
</body>

